/* :root {
    --bs-tertiary-bg-rgb: 128, 200, 200;
} */

.bg-body-tertiary {
    background-color: red !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ff0000'%3E%3Cpath d='M12 2C12 2 7 7 7 12c0 2 1 4 2 5l-1 3c0 .5.5 1 1 1h1l1-2h2l1 2h1c.5 0 1-.5 1-1l-1-3c1-1 2-3 2-5 0-5-5-10-5-10zm-1 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm2 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z' transform='rotate(90 12 12)'/%3E%3C/svg%3E");
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ff0000'%3E%3Cpath d='M12 2C12 2 7 7 7 12c0 2 1 4 2 5l-1 3c0 .5.5 1 1 1h1l1-2h2l1 2h1c.5 0 1-.5 1-1l-1-3c1-1 2-3 2-5 0-5-5-10-5-10zm-1 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm2 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z' transform='rotate(-90 12 12)'/%3E%3C/svg%3E");
    width: 2.5rem;
    height: 2.5rem;
}